h1 {
    color: #008fce;
    margin: 25px;
    height:50px;
    font-family: 'Anton', sans-serif;
}

h2 {
    height:25px;
    color:rgb(0, 0, 0);
    text-align:center;
}

h3 {
    margin: 25px;
}

hr {
    color: #008fce;
}

main{
    padding-top: 40px;
}

body {
    min-height: 110vh;
    background-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header nav {
    position:fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color:#131313;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.initiale {
    width:60%; 
    display: flex;
}

header nav ul {
    display:flex;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
}

.liste-menu {
    width:40%;
    display: flex;
    justify-content: flex-end;
}

header nav li {
    padding-left: 15px;
}


header a {
    color: #bfbfbf;
    font-family: 'Noto Sans Simplified Chinese', sans-serif;
}

footer {
    right: 0;
    left: 0;
    bottom: 0;
    background-color:#131313;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.team-member{
    margin-bottom: 0.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.timeline-competence {
    width: 67px;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    margin-left: 1px;
  }

.rounded-circle {
    border-radius: 50% !important;
}

.titre-partie {
      padding-top: 25px;
      padding-bottom: 25px;
}

.text-muted {
    color: #6c757d !important;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container-timeline-competence {
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
    width:100%;
}